<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
    <title>Xếp Thời Khóa Biểu - TLU</title>

    <!-- Bulma core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <!-- Extra plugin css -->
    <link rel="stylesheet" href="/vendors/bulma-extensions/dist/css/bulma-extensions.min.css">
    <!-- Custom styles for this template -->
    <link href="/css/custom.css" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>
  <body>
    <div id="root"></div>

    <script src="/js/bundle.js"></script>
    <!-- Extra plugin js -->
    <script src="/vendors/bulma-extensions/dist/js/bulma-extensions.min.js"></script>
  </body>
</html>